<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <title>RoutesPractice</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		
		<ul class="nav navbar-nav navbar-left">
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Users", users_path %></li>
		</ul>
		
		<ul class="nav navbar-nav navbar-right">
			<% if !current_user %>
				<li><%= link_to "Sign In", new_user_session_path %></li>
				<li><%= link_to "Sign Up", new_user_registration_path %></li>
			<% else %>
				<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
			<% end %>
		</ul>
		
	</div>
</nav>

<div class="container">
  <% if flash[:notice] %>
	  <div class="row">
		<div class="col-sm-4 col-sm-offset-4 alert alert-info" style="text-align: center">
			<%= flash[:notice] %>
		</div>
	  </div>
  <% end %>

  <%= yield %>
 </div>


</body>
</html>
